body {
  background-color: #414141;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#root {
  width: 100%;
}
.playlist {
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

@media screen and (min-width: 426px) {
  body {
    width: 100%;
    flex-direction: row;
  }
  .playlist {
    width: 33%;
  }
  .aggregate {
    display: inline-block;
  }
}
